{
  apikeys => {
    'username:password' => 1
  },
  whitelist => {
    'remote::class' => {
      method1 => 1,
      method2 => 1,     
    },
  },
  libs => [
    {
      paths => [ '/home/user/my_custom_libs' ], 
      requires => [ 'MyModule::Init' ]
    },


  ]
  
}
