{
  mail => {
    from => 'no-reply@test.domain.com',
    type => 'text/html',
    how => 'smtp',
    howargs => [ 'localhost', Timeout=>60 ]
  },
  apikeys => {
    'development:12345678' => 1
  }
  
}
